<h1>Create User Form</h1>
<form [formGroup]="userForm">
    <label for="">name:</label>
    <input type="text" formControlName="name">
    <br>
    <label for="">age:</label>
    <input type="number" formControlName="age">
    <br>
    <label for="">phone:</label>
    <input type="number" formControlName="phone">
    <br>
    <label for="">email:</label>
    <input type="email" formControlName="email">
    <br>
    <div formGroupName="address">
        <label for="">city:</label>
        <input type="text" formControlName="city">
        <br>
        <label for="">pincode:</label>
        <input type="number" formControlName="pincode">
    </div>

    <div class="radio">
        <label for="">type:</label>
        <input type="radio" name="type" formControlName="type" value="dayScholor">
        <label for="">Day's Scholar</label>
        <input type="radio" name="type" formControlName="type" value="residential">
        <label for="">Residential</label>
    </div>
    <br>
    <div *ngIf="userForm.get('type')?.value == 'dayScholor'">
        <label for="">bus fee:</label>
        <input type="number" formControlName="bussFee">
        <br>
    </div>
    <div *ngIf="userForm.get('type')?.value == 'residential'">
        <label for="">hostel fee:</label>
        <input type="number" formControlName="hostelFee">
    </div>
    <button (click)="submit()">submit</button>
</form>