/* label{
    display: inline-block;
    width: 100px;
    margin: 5px; 
}
input{
    padding: 5px;
    margin: 5px;
}

button {
    background-color: #4CAF50; 
    border: none; 
    color: white; 
    padding: 10px 32px;
    display: inline-block; 
    font-size: 18px; 
    margin: 30px 140px;
    cursor: pointer; 
    border-radius: 8px;
    transition: background-color 0.3s ease; 
    text-transform: capitalize;

}


button:hover {
    background-color: #45a049;
}


button:active {
    background-color: #3e8e41; 
    box-shadow: 0 5px #666;
    transform: translateY(4px); 
}


button:disabled {
    background-color: #ccc;
    color: #666; 
    cursor: not-allowed; 
} */


form {
    background-color:cadetblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    
}



/* Label styling */
form label {
    
    font-weight: bold;
}

/* Input field styling */
form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Submit button styling */
form button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Submit button hover effect */
form button:hover {
    background-color: #45a049;
}

