<div class="parent">
    <div class="left">
        <h1>filters</h1>
        <div>
            <h3>categories</h3>

            <div>
                <input type="checkbox" (click)="mens()" id="tshirts" name="category">
                <label for="tshirts">men's-clothing</label>
            </div>
            <div>
                <input type="checkbox" (click)="jewl()" id="jew" name="category">
                <label for="jew">jewellery</label>
            </div>
            <div>
                <input type="checkbox" (click)="elec()" id="ele" name="category">
                <label for="ele">electronics</label>
            </div>
            <div>
                <input type="checkbox" (click)="women()" id="women" name="category">
                <label for="women">women's clothing</label>
            </div>
        </div>
        <div>
            <h3>price</h3>
            <div>
                <input type="checkbox" (click)="f7to50()">
                <label for="">rs. 7 to rs. 50</label>
            </div>
            <div>
                <input type="checkbox"(click)="f50to300()">
                <label for="">rs. 50 to rs. 300</label>
            </div>
            <div>
                <input type="checkbox"  (click)="f300to600()">
                <label for="">rs. 300 to rs. 600</label>
            </div>
            <div>
                <input type="checkbox" (click)="f600to1000()">
                <label for="">rs. 600 to rs. 1000</label>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="search">
            <label for="">price range:</label>
            <select class="select" (change)="sort($event)" >
                <option value="all">All</option>
                <option value="lToH">Low to High</option>
                <option value="hToL">High to Low</option>
            </select>
        </div>
        <div class="rightBottom">
            <div class="card" *ngFor="let product of products">
                <img src="{{product.image}}" alt="" width="150px" height="150px">
                <button>{{product.rating.rate}}&#9733; | {{product.rating.count}}</button>
                <h3>{{product.category}}</h3>
                <p>{{product.title}}</p>
                <p>{{product.price | price}}</p>
            </div>
        </div>
    </div>