.delete{
    width: 90px;
    background-color: red;
    color: white;
    border: 0;
    text-transform: capitalize;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
}
.view{
    width: 90px;
    background-color:darkturquoise;
    color: white;
    border: 0;
    text-transform: capitalize;
    padding: 5px;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 5px;
    color: black;
}
.edit{
    width: 90px;
    background-color:darksalmon;
    color: white;
    border: 0;
    text-transform: capitalize;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
}
