
 <!-- task two completed -->
<div class="parent">
    <div class="left">
        <h1>my website</h1>
        <hr>
        <h2 routerLink="welcome">welcome</h2>
        <h2 routerLink="home">home</h2>
        <h2 routerLink="data-binding">data binding</h2>
        <h2 routerLink="calculator">Calculator</h2>
        <h2 routerLink="rectangle">Rectangle</h2>
        <h2 routerLink="circle">circle</h2>
        <h2 routerLink="bmi">bmi</h2>
        <h2 routerLink="wish-grade">Wish-Grade</h2>
        <h2 routerLink="directives">Directives</h2>
        <h2 routerLink="pipes">Pipes</h2>
        <h2 routerLink="employees-data">Employees Data</h2>
        <h2 routerLink="event-reg">Event Registration</h2>
        <h2 routerLink="cart">Cart</h2>
        <h2 routerLink="flipkart">Flipkart</h2>
        <h2 routerLink="employees-db">Employee-db</h2>
        <h2 routerLink="vehicle">Vehicle</h2>
        <h2 routerLink="bank_accounts">Bank-Accounts</h2>
        <h2 routerLink="myntra">Myntra</h2>
        <h2 routerLink="mails">Mails</h2>
        <h2 routerLink="meme">Meme</h2>
        <h2 routerLink="create-vehicle">Create-Vehicle</h2>
        <h2 routerLink="create-accounts">Create-Accounts</h2>
        <h2 routerLink="student-cards">Student-Cards</h2>
        <h2 routerLink="create_student_details">Create Student Details</h2>
        <h2 routerLink="create_form">Create-Form</h2>
        <h2 routerLink="create-company">Create-Company</h2>
        <h2 routerLink="parent">Parent</h2>
        <h2 routerLink="new-calculator">New Calculator</h2>
        <h2 routerLink="about-company">about-company</h2>
        <h2 routerLink="payments/card-payment">Card Payments</h2>
        <h2 routerLink="sibling-communication">Sibling-Communication</h2>
        <button (click)="logout()">logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>